
.icon-right:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-phone-circled:before { content: '\e802'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */