body{
	margin: 0;
	padding: 0;
	width: 100%;
	/*background-image: url("imagenes/fondo3.png");*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;


}
@media all and (min-width: 1px) {
	header{
		/* Reverse the axis of the header, making it vertical. */
		flex-direction: column;
		
		/* Align items to the begining (the left) of the header. */
		align-items: flex-start;
		padding: 2px 0px;
		background-color:  rgba(0, 153, 153)
	

}

header h2{
		text-align: center;
		margin: 15px auto;
		font-family: 'kavivanar-Regular';
		font-size: 50px;
		color: white;
		
}		
#general{
	background-color: pink;
}
#mov {
	padding: 10px 0;
	font-size: 20px;
}

#mov p{
	text-align: center;
	font-family: sans-serif;
	margin: 0;
}
#mov input{
	text-align: center;
	margin : 10px 0px 0px 43%;
	font-size: 20px;
}
#box1{
	padding: 20px 0;
}
#box1 #paintText{
	display: inline-block;
	position: relative;
	left: 20%;
	padding: 5px;
}
#box1 p{
	font-size: 20px;
	margin: 0px 0px 5px 0px;
	font-family: sans-serif;
}
#box1 #iconF{
	display: inline-block;
	position: absolute;
	left: 48%;
	margin: 95px 0px;
	font-size: 45px;
}
#box1 #cipherText{
	display: inline-block;
	position: absolute;
	right: 20%;
	padding: 5px;
}
#box2{
	padding: 15px 350px;
	display: flex;
	flex-grow: row wrap;
	justify-content:space-around;
}
#box2 #cipherB{


	font-size: 20px;
	border-radius: 10px;
	padding: 5px 20px;
	font-family: 'kavivanar-Regular';
	background-color: #1289A7;
	color: white;
}
#box2 #decipherB{

	font-size: 20px;
	border-radius: 10px;
	padding: 5px 20px;
	color: white;
	font-family: 'kavivanar-Regular';
	background-color: #1289A7;
}
#box2 #resetT{
	
	font-size: 20px;
	border-radius: 10px;
	padding: 5px 20px;
	color: white;
	font-family: 'kavivanar-Regular';
	background-color: #1289A7;
}
#recomend{
	font-family: 'kavivanar-Regular';
	position: relative;
	display: block;
	margin: 0 250px;
	
}


#pieP{
	
	position: absolute;
	right: 20px;
	margin: 20px 0;
}
#pieP p{
	font-family: sans-serif;
	color:black;
	margin: 0;
}
}
